*{
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    vertical-align: baseline;
}
body{
    text-align: center;
    font-family: sans-serif;
}

.header {
    display: flex;
    justify-content: center;
    align-items: center;
}


.head {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 63px;
    background: #171717;
    position: fixed;
    width: 100%;
    z-index: 100;
}

.navbar {
    display: flex;
    margin-right: 10px;
}

.logo {
    margin-left: 30px;
}

.logo a {
    text-decoration: none;
    color: #fff;
    text-transform: uppercase;
    font-size: 20px;

}

.navbar a {
    display: block;
    padding: 23px 20px;
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 20px;

}

.navbar a:hover {
    background: #3f3f3f;
}

.header {
    height: 60vh !important;
    background: url(img/aesthetic\ prueba.jpg) no-repeat center;
    background-size: cover;
    background-attachment: fixed;
}
.title {
    margin-bottom: 40px;
    font-size: 60px;
    font-weight: 600;
    text-transform: uppercase;
    color: #fff;
    
}
p {
    margin-bottom: 40px;
    font-size: 25px;
    padding: 0 100px;
    color: #fff;
    
    
}
.about {
    background: #101010;
    height: 800px;
    width: 100%;
}


@media  (max-width: 768px) {

    .title {
        margin-bottom: 0;
        font-size: 40px;

    }
    .sau {
        height: 120vh;
    }
    .navbar {
        display: none;
    }

    
}